<app-header></app-header>
<h2 class="title">Vos futures visites !</h2>
<div class="all" *ngIf="session && session.length > 0">
  <p class="count">
    Vous avez <span class="number"> {{ session.length }} </span> musée(s) dans
    vos favoris
  </p>
  <div class="museums-container">
    <ul>
      <li
        *ngFor="let item of session; let i = index"
        [ngClass]="shouldAnimate ? 'transition-right' : 'transition-left'"
      >
        <div class="museum-card">
          <div class="museum-image-container">
            <img
              class="museum-image"
              [src]="'/assets/images2/' + item.recordid + '.jpg'"
              alt="{{ item.nom_offre }}"
            />
          </div>
          <div class="museum-details">
            <div>
              <p class="museum-name">{{ item.nom_offre }}</p>
            </div>
            <p class="museum-city">{{ item?.commune }}</p>
            <div class="museum-site">
              <a [href]="item?.site_web" target="_blank">@Visitez leur site </a>
            </div>
            <div>
              <button (click)="removeItem(item)">
                <img
                  class="addtohistory"
                  [src]="'/assets/icon/addtohistory.png'"
                  alt="supprimer"
                />
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="button">
    <button class="favButton" (click)="removeAllFav(element)">
      <img
        class="supprimer"
        [src]="'/assets/icon/poubelle.png'"
        alt="supprimer"
      />
      Marquer tout comme "Visités"
    </button>
  </div>
</div>
<app-history></app-history>
<app-navigation></app-navigation>
