<section *ngIf="museumSample" class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <div class="slider-element" *ngFor="let image of museumSample; let i = index">
                <img id="slider-element-{{i + 1}}" src="/assets/images2/{{image.uuid}}.jpg" alt="{{image.name}}">
            </div>
        </div>
    </div>
    <div class="slider-nav">
        <div class="nav-container">
            <span *ngFor="let item of museumSample; let i = index" [class.active]="i === Index" (click)="goToSlide(i)" (tap)="goToSlide(i)"></span>
        </div>
    </div>
</section>
<section class="description">
    <div class="description-container">
        <div class="text-container">
            <h3>Art-&-Loire</h3>
            <p class="text">
                Le site <strong>Art-&-Loire</strong> vous propose de visiter la grande variété de musée de notre département
                d'Indre-et-Loire. Avec pour objectif de promouvoir notre patrimoine local, nous avons répertorié l'ensemble des
                établissements présents sur notre territoire dans le but de vous proposer un large panel de choix.
            </p>
            <p class="text">    
                Si vous savez déjà quel musée vous souhaitez visiter, notre site sera à même de vous fournir plusieurs informations
                relatives à ce lieu. Vous pourrez ainsi vous tenir informés quant aux différentes modalités d'accès : adresse et 
                géolocalisation, horaires d'ouverture, accessibilité handicapé, etc...
            </p>
            <p class="text">    
                Nous avons également penser à ceux qui prévoirait leur(s) visite(s) à l'avance en vous offrant la possibilité
                d'enregistrer vos potentielles visites. De même, nous enregistrerons vos visites déjà réalisées afin que vous
                puissiez conserver un historique de vos voyages en Indre-et-Loire.
            </p>
            <p class="text">    
                Besoin d'aide ? N'oubliez pas que vous pouvez consulter notre <strong><a [routerLink]="getMenuLink('À Propos')">Foire Aux Questions</a></strong> ou nous solliciter
                par courriel.
            </p>
        </div>
    </div>
</section>