.container {
    position: relative;
    padding-top: 1rem;
    width: 100%;
}

.slider-wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
    overflow-x: hidden;
}

.slider {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 100%;
    scroll-behavior: smooth;
    aspect-ratio: 16/9;
    transition: all 0.5s ease-in-out;
}

.slider-element {
    flex: 1 0 100%;
    position: relative;
    overflow: hidden;
    img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}

.slider-nav {
    margin: 1rem auto;
    width: 100%;

    .nav-container {
        display: flex;
        margin: 0 auto;
        width: 70%;
        max-width: 400px;
        justify-content: space-around;

        span {
            width: 1.5rem;
            background-color: #228B89;
            border: 1px solid lightgrey;
            border-radius: 50%;
            opacity: 0.75;
            aspect-ratio: 1/1;
            transition: opacity ease 0.25;
            @media screen and (max-width: 750px) {
                width: 1.25rem;
            }
            @media screen and (max-width: 500px) {
                width: 1rem;
            }
        }
        span.active {
            opacity: 1;
        }
    }
}

.description {
    position: relative;
    padding: 1rem 0.5rem;
    margin-bottom: 4rem;
}

.description-container {
    position: relative;
    margin: 0 auto;
    padding: 1rem;
    width: 85%;
    border-radius: 25px;
    background-color: #646464;
}

.text-container {
    position: relative;
    width: 100%;

    h3 {
        text-align: center;
        margin: 0.5rem 0 1rem 0;
        font-size: 32px;
        color: whitesmoke;
    }

    .text {
        margin: 1rem 0;
        font-size: 0.75rem;
        line-height: 0.9rem;
        text-align: justify;
        color: white;
        strong {
            font-weight: 900;
        }
    }
}