<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slider-element-1" class="slider-element" src="../../../assets/temp/Undertale.jpg" alt="Undertale">
            <img id="slider-element-2" class="slider-element" src="../../../assets/temp/Kingdom_Hearts.jpg" alt="Kingdom Hearts">
            <img id="slider-element-3" class="slider-element" src="../../../assets/temp/WOT.jpg" alt="World Of Tanks">
            <img id="slider-element-4" class="slider-element" src="../../../assets/temp/Kingdom_Hearts.jpg" alt="Kingdom Hearts">
        </div>
    </div>
    <div class="slider-nav">
        <div class="nav-container">
            <a id="nav-1" (click)="manualTravel(1)" href="#slider-element-1"></a>
            <a id="nav-2" (click)="manualTravel(2)" href="#slider-element-2"></a>
            <a id="nav-3" (click)="manualTravel(3)" href="#slider-element-3"></a>
            <a id="nav-4" (click)="manualTravel(4)" href="#slider-element-4"></a>
        </div>
    </div>
</section>
<section class="description">
    <div class="description-container">
        <div class="text-container">
            <h3>Art-&-Loire</h3>
            <!--Module Content Site description-->
            <p class="text">
                Le site Art-&-Loire vous propose de visiter la grande variété de musée de notre département d'Indre-et-Loire. Avec pour
                objectif de promouvoir notre patrimoine local, nous avons répertorié l'ensemble des établissements présents sur notre
                territoire dans le but de vous proposer un large panel de choix. Afin de vous aider dans votre démarche, nous mettons
                à votre disposition un outil de recherche avancé afin de vous proposer les différents sites qui pourrait susciter votre
                intérêt grâce à un catalogue de mots-clés.
            </p>
            <p class="text">    
                Si vous savez déjà quel musée vous souhaitez visiter, notre site sera à même de vous fournir plusieurs informations
                relatives à ce lieu. Vous pourrez ainsi vous tenir informés quant aux différentes modalités d'accès : adresse, 
                horaires d'ouverture, accessibilité handicapé, etc... Un système de géolocalisation sera également mis à votre
                disposition pour vous aider à localiser votre destination ou préparer un itinéraire.
            </p>
            <p class="text">    
                Pour vous aider à garder une trace de votre passage, nous avons penser à ceux qui prévoierait leur(s) visite(s) à
                l'avance en vous offrant la possibilité d'enregistrer les vistes que vous prévoyez à l'avenir afin de vous épargner
                un travail de recherche supplémentaire. De même, nous enregistrerons vos visites déjà réalisées afin que vous puissiez
                conserver un historique de vos voyages en Indre-et-Loire.
            </p>
            <p>    
                Besoin d'aide ? N'oubliez pas que vous pouvez consulter notre <b>Foire Aux Questions</b> ou nous soliciter par courriel.
            </p>
            <!--Put link to FAQ page in <b> tag-->
        </div>
    </div>
</section>