<main>
  <header>
    <img src="assets/icons/burger.png" alt="Menu burger fermé">
    <img class="logo" src="assets/icons/logo.png" alt="Logo Art-et-Loire">
  </header>

  <section>
    <ul>
      <h2>Linter configured:</h2>
      <li>- ESLint</li>
      <li>- Prettier</li>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae harum natus est quia aperiam nobis velit, ullam, praesentium amet unde autem. Ducimus modi impedit dolor iure eveniet enim cumque temporibus?
    Sed, consectetur. Earum in maxime veniam temporibus reprehenderit nulla excepturi quaerat aspernatur, deleniti a quos illum, dolorem commodi tempora voluptas consectetur magni hic nostrum facilis asperiores expedita architecto animi explicabo!
    Dicta architecto molestias eos illo nemo tenetur consectetur, quibusdam praesentium, dignissimos neque animi! Exercitationem ullam incidunt debitis maiores iste quam aspernatur vel ratione, aperiam itaque delectus. Nisi atque voluptatem iste.
    Veniam, vitae obcaecati. Eius blanditiis nostrum esse suscipit quis, nisi rerum excepturi exercitationem optio aliquid nihil maxime perspiciatis fugit voluptatum consequatur, dignissimos ducimus quos quod quaerat distinctio laudantium est possimus.
    Earum qui eum aperiam, sapiente, cupiditate dicta vel, illo repellat provident quibusdam ipsa architecto? Qui, autem sit exercitationem aliquam quaerat molestiae aliquid. Tenetur dicta nemo voluptates doloremque at doloribus sunt.
    Inventore ipsa sapiente blanditiis nostrum natus. Voluptatum, harum. Autem deleniti quae quas saepe corporis. Quod nam nostrum, amet est, impedit cum iusto nihil eos officiis quaerat autem quos! Quas, animi!</p>
    </section>

  <footer>
    <app-navigation></app-navigation>
  </footer>
</main>
