<main>
  <header>
    <img src="assets/icons/burger.png" alt="Menu burger fermé">
    <img src="assets/icons/logo.png" alt="Logo Art-et-Loire">
  </header>

  <app-demo-component title="template angular"></app-demo-component>

  <section>
    <ul>
      <h2>Linter configured:</h2>
      <li>- ESLint</li>
      <li>- Prettier</li>
    </ul>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, et. Illum dolorem iste soluta possimus, placeat et dolore officiis quos. Laboriosam maiores atque fugit, non rerum id corporis autem inventore.
    Blanditiis beatae laborum modi praesentium a laudantium ipsa ab iste necessitatibus. Perferendis nisi, unde esse ducimus suscipit eveniet excepturi repellendus enim incidunt voluptatem expedita distinctio quibusdam id deleniti eum saepe!
    Omnis animi dolorum rem? Voluptatum voluptas nisi nihil, accusamus iste aperiam quas necessitatibus. Corrupti facere a nam vero, voluptatibus velit, veritatis perspiciatis reiciendis tempora sint commodi ullam illo eaque nobis!
    Aliquam ad necessitatibus magnam quod saepe optio numquam, dolorum nam non architecto assumenda aspernatur mollitia at illo labore perspiciatis odit quas, minus laboriosam voluptatum vel. Error minima mollitia autem saepe!
    Fuga et quisquam voluptates ab porro consequatur voluptate sint repellendus vero, qui voluptatum aliquid consectetur rerum adipisci tempora. Voluptas quidem officia distinctio. Dolor placeat quos adipisci, minima delectus doloribus officiis.
    Ipsum esse fugit maiores quas quo? Qui itaque aspernatur sapiente quae totam repudiandae nam. Non quaerat, quod illum ut a voluptate animi tenetur esse quae nisi eius suscipit pariatur eaque!
    Accusamus nulla, totam eos iusto numquam exercitationem dicta dolorum excepturi pariatur voluptate temporibus suscipit dignissimos amet ad molestiae deleniti ipsum iste, adipisci quo vero quos possimus explicabo quam! Placeat, ipsum!
    Ipsa aspernatur soluta sequi odio molestias commodi nesciunt magnam. Quaerat unde, error hic ex molestiae, maiores sequi reiciendis est numquam porro nesciunt necessitatibus facere libero aliquid possimus assumenda soluta commodi.
    Modi vitae placeat repudiandae officia, eveniet quis iste vero, odit dolor sit est ducimus quam quod praesentium doloribus consectetur nesciunt accusamus ad. Aperiam aliquam officia expedita repudiandae minima vel quia.
    Laudantium laboriosam facere pariatur eaque ea numquam libero beatae quisquam, suscipit tempora repellendus quis, atque exercitationem quia fugiat officiis laborum magnam ullam? Fuga reprehenderit totam aliquid eveniet! Laudantium, voluptate illum!
  </section>

  <footer>
    <app-navigation></app-navigation>
  </footer>
</main>
