main {
  display: row;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fcfcfc;
}

header img {
  max-height: 48px;
  margin: 0.3rem;
}

section {
  text-align: justify;
  height: max-content;
}

footer {
  width: 100%;
  position: sticky;
  bottom: 0;
}
