main {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fcfcfc;
  // Uncomment two lines to stick header on top
  // position: sticky;
  // top: 0;
}

header img {
  max-height: 48px;
  margin: 0.3rem;
}

section {
  text-align: justify;
  min-height: 79%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: -15px;
}
