<main>
  <header>
    <img src="assets/icons/burger.png" alt="Menu burger fermé">
    <img class="logo" src="assets/icons/logo.png" alt="Logo Art-et-Loire">
  </header>

  <section>
    <ul>
      <h2>Linter configured:</h2>
      <li>- ESLint</li>
      <li>- Prettier</li>
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos deleniti omnis laboriosam quo eius libero ullam, tempora nam, ipsum at aspernatur rem delectus, aut quod praesentium repellat. Voluptatibus, aspernatur alias.
    Obcaecati dolore delectus tenetur, sequi temporibus animi mollitia natus culpa deleniti, perferendis ratione iusto ipsa incidunt consequuntur quaerat, molestias nemo. Saepe sunt optio rerum nemo excepturi praesentium sit eligendi eos!
    Officiis voluptatum ab nobis aperiam animi quam eius incidunt? Tempore placeat temporibus eos reprehenderit optio consequuntur assumenda quas provident voluptates nihil enim aut, reiciendis tenetur, consequatur error sunt tempora voluptatibus.
    Aperiam non ipsum voluptas, inventore veritatis recusandae similique explicabo, error saepe culpa fugit perspiciatis rem, veniam odit. Et, earum sequi quia minima quibusdam dolorem adipisci maxime totam, assumenda, molestiae enim!
    Vitae odit voluptatibus modi non quis, nemo nihil impedit incidunt aperiam eveniet enim assumenda, fugiat inventore blanditiis consectetur provident minus animi tempora voluptatum. Tempora maxime saepe enim? Aliquam, laborum nam.
    Aspernatur rem corrupti repellendus velit et alias itaque eius? Facere sint, consectetur odio et officia nihil ipsum pariatur quam voluptas veniam vel consequuntur eius, error enim a architecto, molestias tenetur!
    Repellat quaerat porro vitae. Eaque corrupti qui quos, atque, nobis aspernatur consequuntur debitis et explicabo sapiente adipisci delectus mollitia laboriosam. Quae velit dolor quisquam mollitia harum ipsum alias placeat debitis?
    Ipsa vel quaerat doloribus aliquid, fuga, architecto nobis veritatis excepturi dolorem est doloremque tempore adipisci perspiciatis nisi suscipit enim quis natus temporibus accusamus corporis, vitae officiis voluptatum quas? Quia, sapiente?
    Eligendi facere eos quis illum, dolore voluptate laboriosam nihil. Necessitatibus facere non fuga quasi sint ipsam eaque itaque, nam consequatur ea ut. Reiciendis fugiat magnam velit minus quo consectetur veniam?
    Magnam, velit placeat. Ratione dicta aspernatur laboriosam totam, asperiores nisi impedit inventore fugit eligendi, dignissimos id! Veniam facilis corporis explicabo quam adipisci ipsum beatae ad obcaecati, maiores natus aperiam nostrum.</p>
    </section>

  <footer>
    <app-navigation></app-navigation>
  </footer>
</main>
