<p>Carrousel works!</p>
<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slider-element-1" src="../../../assets/images/Undertale.jpg" alt="Undertale">
            <img id="slider-element-2" src="../../../assets/images/Kingdom_Hearts.jpg" alt="Kingdom Hearts">
            <img id="slider-element-3" src="../../../assets/images/WOT.jpg" alt="World Of Tanks">
            <div class="slider-nav">
                <a href="#slider-element-1"></a>
                <a href="#slider-element-2"></a>
                <a href="#slider-element-3"></a>
            </div>
        </div>
    </div>
</section>