<section class="container">
    <div class="slider-wrapper">
        <div class="slider">
            <img id="slider-element-1" class="slider-element" src="../../../assets/images/Undertale.jpg" alt="Undertale">
            <img id="slider-element-2" class="slider-element" src="../../../assets/images/Kingdom_Hearts.jpg" alt="Kingdom Hearts">
            <img id="slider-element-3" class="slider-element" src="../../../assets/images/WOT.jpg" alt="World Of Tanks">
            <div class="slider-nav">
                <a id="nav-1" href="#slider-element-1"></a>
                <a id="nav-2" href="#slider-element-2"></a>
                <a id="nav-3" href="#slider-element-3"></a>
            </div>
        </div>
    </div>
</section>