<app-menu-burger></app-menu-burger>
<div class="name-search">
  <label for="theme"></label>
  <input
    type="text"
    id="theme"
    placeholder="Rechercher"
    [(ngModel)]="museumName"
  />
  <button (click)="getMuseumByName()">
    <img src="assets/recherche.png" alt="Loupe" />
  </button>
</div>
<div class="result-card" [ngClass]="{ 'transition-right': animate }">
  <app-result-card [filteredMuseums]="nameMuseums"></app-result-card>
</div>
<div>
  <div class="filter-container">
    <label for="theme"></label>
    <select class="option" [(ngModel)]="museumTheme" (change)="onThemeChange()">
      <option value="">Thèmes</option>
      <option
        class="filter-option"
        *ngFor="let theme of themeOptions"
        [value]="theme"
      >
        {{ theme }}
      </option>
    </select>

    <label for="handicap"></label>
    <select
      class="option"
      [(ngModel)]="museumLabelHandi"
      (change)="onLabelHandiChange()"
    >
      <option value="">Handicap</option>
      <option
        class="filter-option"
        *ngFor="let labelHandic of labelHandiOptions"
        [value]="labelHandic"
      >
        {{ labelHandic }}
      </option>
    </select>

    <label for="label"></label>
    <select class="option" [(ngModel)]="museumLabel" (change)="onLabelChange()">
      <option value="">Label</option>
      <option
        class="filter-option"
        *ngFor="let label of labelOptions"
        [value]="label"
      >
        {{ label }}
      </option>
    </select>
  </div>
  <div class="selected" *ngIf="selectedTheme">
    <p>
      Thème sélectionné : <span class="color">{{ selectedTheme }}</span>
    </p>
  </div>
  <div class="Result">
    <div
      class="result-card"
      [ngClass]="{
        'transition-bottom': animate,
        'transition-right': themeMuseums.length > 5
      }"
    >
      <app-result-card [filteredMuseums]="themeMuseums"></app-result-card>
    </div>
    <div class="selected" *ngIf="selectedLabelHandi">
      <p>
        Accessibilité: <span class="color">{{ selectedLabelHandi }}</span>
      </p>
    </div>

    <div
      class="result-card"
      [ngClass]="{
        'transition-bottom': animate,
        'transition-right': HandiLabelMuseums.length > 5
      }"
    >
      <app-result-card [filteredMuseums]="HandiLabelMuseums"></app-result-card>
    </div>
    <div class="selected" *ngIf="selectedLabel">
      <p>
        Label sélectionné : <span class="color">{{ selectedLabel }}</span>
      </p>
    </div>
    <div
      class="result-card"
      [ngClass]="{
        'transition-bottom': animate,
        'transition-right': labelMuseums.length > 5
      }"
    >
      <app-result-card [labelMuseums]="labelMuseums"></app-result-card>
    </div>
  </div>
  <div class="button-see-more">
    <button (click)="seeMore()" *ngIf="showSeeMore">Voir plus</button>
  </div>
</div>
<app-navigation></app-navigation>
