#theme {
  width: 49rem;
  height: 2.5rem;
  color: #f2f2f2;
  background: #228b89;
  border-radius: 2rem;
  padding-left: 2rem;
  font-size: 1.5rem;
}
.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-container label {
  font-size: 1.5rem;
}

.filter-container select {
  width: 17rem;
  height: 3rem;
  background: #228b89;
  color: #f2f2f2;
  padding: 0.5rem;
}
.filter-container select:first-of-type {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.filter-container select:last-child {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
.name-search-title {
  display: flex;
  justify-content: center;
}
.name-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-card {
  display: flex;
  justify-content: center;
}

button {
  width: 10rem;
  height: 3rem;
  background: #228b89;
  color: #f2f2f2;
  padding: 0.5rem;
  border-radius: 2rem;
  margin-top: 2rem;
}
