#theme {
  width: 45rem;
  height: 2.5rem;
  color: var(--white);
  background: var(--turquoise);
  border-radius: 2rem;
  padding-left: 2rem;
  font-size: 1.5rem;
}
.filter-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .filter-container label {
    font-size: 1.5rem;
  }
}

select,
option {
  appearance: none;
  font-size: 1rem;
}
.option {
  font-size: 1rem;
}
.filter-container select {
  width: 16rem;
  height: 3rem;
  background: var(--turquoise);
  color: var(--white);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.filter-option {
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  width: 10rem;
}

input[type="text"]::placeholder {
  color: var(--white);
}
.filter-container {
  margin-bottom: 3rem;
}
.filter-container select:first-of-type {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.filter-container select:last-child {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.name-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-card {
  display: flex;
  justify-content: center;
}

button {
  background: transparent;
  border-radius: 2rem;
  border: none;
  margin-top: 2rem;
  position: relative;
  bottom: 4.5rem;
  left: 19rem;
  cursor: pointer;
}

button:active {
  transform: scale(1.3);
}
.button-see-more {
  display: flex;
  margin-top: 2rem;
}

.button-see-more button {
  color: var(--white);
  background-color: var(--turquoise);
  width: 4.5rem;
  height: 2rem;
}
.transition-bottom {
  transform: translateY(-100%);
  animation: appear 5s forwards;
}
.transition-right {
  transform: translateX(0rem, 100%);
  animation: appear2 3s forwards;
}
@keyframes appear2 {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  #theme {
    width: 90%;
    font-size: 1.2rem;
  }

  .filter-container select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .filter-container select:first-of-type {
    border-top-left-radius: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 2rem;
  }

  .filter-container select:last-child {
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 2rem;
  }

  button {
    left: 40%;
    bottom: 4.7rem;
  }
  .option {
    width: 80%;

    .filter-option {
      font-size: 1rem;
    }
  }
}
.selected {
  p {
    width: 20rem;
    font-size: 1rem;
    padding: 0.5rem;
    .color {
      color: var(--turquoise);
    }
  }
}
