<div class="modal-carte">
  <div class="modal-int">
    <div class="modal-int-title">
      <span>LE CARROI, MUSEE D'ARTS ET D'HISTOIRE</span>
    </div>
    <img
      src="https://www.musees.strasbourg.eu/documents/30424/508640/MBA_2022_39.jpg/a5e7b146-97c8-5620-78aa-65797846eac0?t=1675247055686"
      alt="image_musée"
    />
    <div class="modal-int-adresse">
      <span>Amboise, Rue François 1er</span>
    </div>
    <div class="modal-int-horraire">
      <p>
        Dimanche de 14h à 18h <br />
        Lundi de 14h à 18h <br />
        Mercredi de 14h à 18h <br />
        Jeudi de 14h à 18h <br />
        Vendredi de 14h à 18h <br />
        Samedi de 14h à 18h
      </p>
    </div>
    <div class="modal-int-redirection">
      <a
        href="https://www.valdeloire-france.com/organiser/visites/musees-et-centres-dinterpretation/le-carroi-musee-darts-et-dhistoire"
        >https://www.valdeloire-france.com/organiser/visites/musees-et-centres-dinterpretation/le-carroi-musee-darts-et-dhistoire</a
      >
    </div>
    <button (click)="close()">Close</button>
  </div>
</div>
