<div class="container-all">
  <app-modal-map
    *ngIf="markerService.showModal"
    (closeModal)="closeModal()"
  ></app-modal-map>
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <div class="musee-container">
    <h3>Musées Seléctionnés</h3>
  </div>
  <div class="div_image_centrer">
    <button class="div_image" (click)="centerOnUser()">
      <img src="../../../assets/centrer.png" alt="bouton_recentrer" />
    </button>
  </div>
  <div class="container-barre" [ngClass]="{ zi: filteredMuseum.length > 0 }">
    <div class="barre-recherche" [ngClass]="{ br: filteredMuseum.length > 0 }">
      <input
        type="text"
        placeholder="Rechercher"
        [(ngModel)]="inputV"
        (input)="searchMuseum()"
      />
      <button (click)="searchMuseum()">
        <img src="../../../assets/recherche.png" alt="logo_recherche" />
      </button>
    </div>
    <ul class="museum-list" *ngIf="filteredMuseum.length > 0">
      <li
        *ngFor="let museum of filteredMuseum"
        (click)="selectMuseum(museum)"
        (keyup)="onKeyUp($event, museum)"
        tabindex="0"
      >
        {{ museum }}
      </li>
    </ul>
  </div>
</div>
