<div class="container-all">
  <app-modal-map
    *ngIf="markerService.showModal"
    (closeModal)="closeModal()"
  ></app-modal-map>
  <div class="map-container">
    <div class="map-frame">
      <div id="map"></div>
    </div>
  </div>
  <div class="musee-container">
    <h3>Musées Seléctionnés</h3>
  </div>
  <div class="div_image_centrer">
    <button class="div_image" (click)="centerOnUser()">
      <img src="../../../assets/centrer.png" alt="bouton_recentrer" />
    </button>
  </div>
  <div class="contaienr-barre">
    <div class="barre-recherche">
      <input type="text" placeholder="Rechercher" [(ngModel)]="inputV" />
      <button (click)="searchMuseum()">
        <img src="../../../assets/recherche.png" alt="logo_recherche" />
      </button>
    </div>
  </div>
</div>
