.navbar {
  background-color: #f2f2f2;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 10px;
}

.navbar a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--grey);
}

.navbar a:hover {
  background-color: #ddd;
}
