.museums-container {
  width: 30rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
}

.museum-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.museum-name {
  background: #3a3737ba;
  color: #f2f2f2;
  display: flex;
  width: 30rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  position: relative;
  font-style: italic;
}

.museum-city {
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 0.5rem;
}

.museum-site {
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 0.5rem;
  display: block;
  text-decoration: none;
  color: #333;
}

.museum-site:hover {
  text-decoration: underline;
}
