* {
  padding: 0;
  margin: 0;
}
.museums-container {
  width: 20rem;
  background-color: var(--white);
  border-radius: 0.5rem;
  border-color: transparent;

  .museum-image {
    width: 100%;
    height: 15rem;
    border-radius: 0.3rem;
    border-color: transparent;
    cursor: pointer;
  }
  .favori {
    border: none;
    background: transparent;
    position: relative;
    bottom: 5rem;
    left: 8rem;
    font-size: 2rem;
  }
  .museum-name {
    background: #444444b6;
    color: var(--white);
    display: flex;
    width: 17rem;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    position: relative;
    bottom: 5rem;
    font-style: italic;
    font-size: 0.8rem;
    padding: 0.3rem 0.3rem;
  }

  .museum-city {
    font-family: var(--inter);
    font-size: 1.3rem;
    color: var(--turquoise);
    line-height: 1.8rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
  }

  .museum-site,
  a {
    font-family: var(--inter);
    font-size: 1rem;
    line-height: 1.8rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--grey);
  }

  .museum-site:hover {
    text-decoration: underline;
  }
}
.heart {
  height: 2rem;
  margin: 0.3rem 0.3rem;
}
button.history {
  position: relative;
  top: 3rem;
  left: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3rem;
  padding: 0.1rem;
  margin: 0.3rem;
  opacity: 0.8;
  background-color: var(--turquoise);
}
.addtohistory {
  height: 1.7rem;
  cursor: pointer;
  bottom: 4rem;
  left: 8rem;
}
@media (max-width: 768px) {
  .museums-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .museum-name {
    width: 90%;
    bottom: initial;
    text-align: center;
    padding: 1rem;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
