.museums-container {
  width: 30rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
}

.museum-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.museum-name {
  background: #3a3737ba;
  color: #f2f2f2;
  display: flex;
  width: 30rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
  position: relative;
  bottom: 9rem;
  font-style: italic;
}

.museum-city {
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
}

.museum-site {
  font-family: Inter;
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin-top: 0.5rem;
  display: block;
  text-decoration: none;
  color: #333;
}

.museum-site:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .museums-container {
    width: 90%;
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .museum-name {
    width: 90%;
    bottom: initial;
  }
}
