.museums-container {
  background-color: var(--white);
  color: var(--black);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.museum-name {
  font-family: var(--inter);
  font-size: 24px;
  margin-bottom: 10px;
}

.museum-city {
  color: var(--grey);
  margin-bottom: 10px;
}

.museum-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 10px;
}

.museum-site a {
  color: var(--turquoise);
  text-decoration: none;
}

.museum-site a:hover {
  text-decoration: underline;
}
.title {
  display: flex;
  justify-content: center;
}
