.modal-map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-int {
    height: 65%;
    width: 70%;
    background-color: #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  10px 10px 30px #919191, -10px -10px 30px #ffffff;
}

.modal-int-title {
    text-align: center;
    font-size: 20px;
    width: 80%;
    margin-top: 0.75rem;
}

.modal-int-title > span {
    color: #228b89;
    font-weight: bold;
}

.modal-int > img {
    width: 12rem;
    height: 6.5rem;
    background-size: cover;
    background-position: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 15px;
    box-shadow:  3px 3px 9px #919191, -3px -3px 9px #ffffff;
}

.modal-int-adresse {
    width: 70%;
}

.modal-int-adresse > span {
    font-weight: bold;
}

.modal-int-horraire {
    width: 70%;
}

.modal-int-redirection {
    width: 70%;
    height: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}