<nav>
  <ul>
    <li>
      <a [routerLink]="'/'">
        <img class="nav-icons" src="assets/icons/accueil.png" alt="Accueil">
        <span>Accueil</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/recherche'">
        <img class="nav-icons" src="assets/icons/recherche2.png" alt="Recherche">
        <span>Recherche</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/carte'">
        <img class="nav-icons" src="assets/icons/carte.png" alt="Carte">
        <span>Carte</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/visites'">
        <img class="nav-icons" src="assets/icons/favorite.png" alt="Visites">
        <span>Visites</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/a-propos'">
        <img class="nav-icons" src="assets/icons/a_propos.png" alt="A Propos">
        <span>A Propos</span>
      </a>
    </li>
  </ul>
</nav>
